div.top-wrapper
  h1.mt-3.mb-3 ようこそYour Blogサイトへ
  div このサイトについてはこちら

  h2.mt-3.mb-3 最近投稿されたブログ一覧
  table.table.table-striped
    thead
      tr
        th 記事のタイトル
        th 投稿日
    tbody
      - @posts.each do |post|
        tr
          td = link_to "#{post.title}", post_path(post.id)
          td = post.created_at.in_time_zone('Tokyo').strftime("%Y-%m-%d")