div.card
  h5.card-header
    アカウント新規登録
  div.card-body
    = form_with model: @user, url: signup_path do |f|
      = f.label :email, 'メールアドレス'
      = f.text_field :email, { class: 'form-control' }
      = f.label :login_id, 'ログインID'
      = f.text_field :login_id, { class: 'form-control' }
      = f.label :password, 'パスワード'
      = f.password_field :password, { class: 'form-control' }
      = f.submit 'アカウント作成', class: 'btn btn-primary'
  div.card-footer
    フッタ