// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.card {
  width: 30%;
  margin: 0 auto;
  input {
    margin: 8px 0;
  }
  label {
    margin: 8px 0;
  }
}